#!/bin/bash

# The next line will trigger the script on every VSCode update
# VSCode version: {{ output "code" "-v" | replaceAllRegex "\n" " " }}

{{ if (eq .chezmoi.os "darwin") }}
osascript -e 'tell application "Visual Studio Code" to quit'
{{ end }}

{{ if eq .chezmoi.os "windows" }}
taskkill //f //im Code.exe //T >NUL 2>&1
{{ end }}

echo "🛠️  Configuring VSCode preferences & plugins"

# Install or upgrade all extensions
extensions=({{ range .apps.vscode.plugins }}{{ . | quote }} {{ end }})

for extension in "${extensions[@]}"; do
    code --install-extension "$extension" --force
done

echo "✅  Done. VSCode is ready to be used"