{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# The next line will trigger the script on every MacOS update
# MacOS build version: {{ output "sw_vers" "--buildVersion" }}

echo "💰  Setting up Homebrew packages"

formulae=(
    git
    git-delta
    nano
    wget
    zplug
    telnet
    python3
    maven
    bat
)
casks=(
    aerial
    stats
    itsycal
    google-chrome
    iterm2
    docker
    telegram
    zoom
    yandex-music
    vlc
    temurin@21
    intellij-idea-ce
    visual-studio-code
    sublime-text
    dbeaver-community
    postman
)

brew update

# Install or upgrade all formulae
for formula in "${formulae[@]}"; do
    if brew ls --versions "$formula" >/dev/null; then
        HOMEBREW_NO_AUTO_UPDATE=1 brew upgrade --force --formula "$formula"
    else
        HOMEBREW_NO_AUTO_UPDATE=1 brew install --force --formula "$formula"
    fi
done


# Install or upgrade all casks
for cask in "${casks[@]}"; do
    if brew ls --versions --cask "$cask" >/dev/null; then
        HOMEBREW_NO_AUTO_UPDATE=1 brew upgrade --force --cask "$cask"
    else
        HOMEBREW_NO_AUTO_UPDATE=1 brew install --force --cask "$cask"
    fi
done

brew cleanup

{{ end }}