[user]
	name = Pavel Karamyshev
	email = {{ .user.email }}

[core]
	editor = code --wait --new-window

[diff]
	tool = default-difftool

[difftool "default-difftool"]
	cmd = code --wait --new-window --diff $LOCAL $REMOTE

[merge]
	tool = code

[mergetool "code"]
	cmd = code --wait --new-window --merge $REMOTE $LOCAL $BASE $MERGED