{
  "explorer.confirmDelete": false,
  "terminal.integrated.fontFamily": "{{ .apps.terminal.font.name }}",
  "terminal.integrated.defaultProfile.windows": "PowerShell",
  "terminal.integrated.fontSize": {{ .apps.terminal.font.size }},
  "files.autoSave": "afterDelay",
  "http.proxyStrictSSL": false,
  "http.systemCertificates": true
}
