# Define Variables
$url = "https://download.openide.ru/252.27397.103.1/openIDE-252.27397.103.1.win.zip"
$zipPath = "$env:TEMP\intellij_dist.zip"
$destFolder = "$env:LocalAppData\OpenIDE"

# Close any running instances to prevent file locks
Write-Host "🗑️  Closing running IntelliJ instances..."
Stop-Process -Name "openide64" -ErrorAction SilentlyContinue

# Uninstall/Remove existing version if it exists
if (Test-Path $destFolder) {
    Write-Host "🗑️  Removing existing version at $destFolder..."
    Remove-Item -Path $destFolder -Recurse -Force
}

# Download the ZIP distribution
Write-Host "⬇️  Downloading IntelliJ ZIP..."
Invoke-WebRequest -Uri $url -OutFile $zipPath

# Extract to the Winget-style directory
Write-Host "📁  Extracting files to $destFolder..."
Expand-Archive -Path $zipPath -DestinationPath $destFolder -Force

# Cleanup the downloaded ZIP
Remove-Item -Path $zipPath -Force

# Check if the installation succeed
$shell = New-Object -ComObject WScript.Shell
$exePath = Get-ChildItem -Path $destFolder -Filter "openide64.exe" -Recurse | Select-Object -First 1

if (-not $exePath) {
    Write-Host "⚠️  Extraction finished, but openide64.exe was not found in the package."
}

# Setup shortcut in start menu
$shortcutPath = "$env:APPDATA\Microsoft\Windows\Start Menu\Programs\OpenIDE.lnk"
$shortcut = $shell.CreateShortcut($shortcutPath)
$shortcut.TargetPath = $exePath.FullName
$shortcut.WorkingDirectory = $exePath.DirectoryName
$shortcut.Save()

# Install Plugins
$plugins = '{{ .apps.idea.plugins | toJson }}' | ConvertFrom-Json
Write-Host "🔌  Installing plugins: $plugins..."

$argList = @("installPlugins") + $plugins
Start-Process -FilePath $exePath.FullName -ArgumentList $argList -Wait -NoNewWindow

Write-Host "✅  OpenIDE has been successfully installed"
