#!/bin/bash

# The next line will trigger the script on every MacOS update
# MacOS build version: {{ output "sw_vers" "--buildVersion" }}

echo "💰  Setting up Homebrew packages..."

formulae=({{ range .apps.brew.formulae }}{{ . | quote }} {{ end }})
casks=({{ range .apps.brew.casks }}{{ . | quote }} {{ end }})

brew update --quiet

echo "😎  Installing command-line applications..."

# Install or upgrade all formulae
for formula in "${formulae[@]}"; do
    if brew ls --versions "$formula" >/dev/null; then
        echo "🔄  Updating formula $formula..."
        HOMEBREW_NO_AUTO_UPDATE=1 brew upgrade --quiet --force --formula "$formula"
    else
        echo "📥  Installing formula $formula..."
        HOMEBREW_NO_AUTO_UPDATE=1 brew install --quiet --force --formula "$formula"
    fi
done

echo "👀  Installing GUI applications..."

# Install or upgrade all casks
for cask in "${casks[@]}"; do
    if brew ls --versions --cask "$cask" >/dev/null; then
        echo "🔄  Updating cask $cask..."
        HOMEBREW_NO_AUTO_UPDATE=1 brew upgrade --quiet --force --cask "$cask"
    else
        echo "📥  Installing cask $cask..."
        HOMEBREW_NO_AUTO_UPDATE=1 brew install --quiet --force --cask "$cask"
    fi
done

brew cleanup --quiet

echo "✅  Done. All applications has been installed."
